/*reset rules*/

*   {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

img{
    max-width: 100%;
    float:left
}

.title  {
    text-align: center;
    color: fuchsia;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragraph  {
    text-align: center;
}

.card   {
    float: left;
    margin-left: 15px ;
    margin-bottom: 15px;
    background-color: darkslategrey;
    box-shadow: 5px 5px 5px 5px #888888;
}



.author-credentials {
    float:right
}
