/*reset rules*/

*   {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

img{
    max-width: 100%;
}


.paragraph  {
    margin-bottom: 25px;
}

.card-img   {
    width: 100px;
    height: 100px;
    float: left;
}

.title  {
    text-align: center;
    color: fuchsia;
    padding-top: 20px;
    padding-bottom: 20px;
}



.paragraph  {
    text-align: center;
}

.card-display   {
    margin-left: 10%;
    margin-right: 10%;
}

.row    {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}


.row:nth-child(2)   {
    clear:left;
}

.card   {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    background-color: darkslategrey;
    box-shadow: 5px 5px 5px 5px #888888;  
    width: calc(33% - 15px);
}

.author-credentials {
    float:right
}
